/*
====================================================================================
THEME VERSION:	1.0
====================================================================================
@import url(images.css); <-- nolonger used. historical purposes.

Colors Used from Lightest to Dark:

Greens > Blue:
    E2E7DC > DCE2E7
    BECFA7 > A7BFCF
    8EA571 > 718FA5
        76895E > 5E7789
    4B573C > 3C4C57
    2F3625 > 252F36

Yellows:
    FFDD57
    FFCC00

Greys:
    FFFFFF    
    999999
    888888
    666666
    CCCCCC
    000000

*/


/*
====================================================================================
REDEFINED HTML OBJECTS
====================================================================================
*/

a {
	font-weight: bold;
	color: #3C4C57;
	text-decoration : none;
}

a:hover {
	color: #FFCC00;
	text-decoration : none;
}

body {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	/*
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	*/
	background-color: #5E7789;

	background-image: url(images/bgtile-.png);
}

TD {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 11px;
}

TH {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
}


H1 {
	font-size: 14px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

H2 {
	font-size: 12px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

H3 {
	font-size: 11px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

option {
	font-size: 11px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

textarea {
	font-size: 11px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

select {
	font-size: 11px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

input, submit {
	font-size: 11px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}


/*
====================================================================================
LAYOUT OPTIONS - Styles to replace Table Formatting
====================================================================================
*/

#main-container {
	background-color: #DDDDDD;

    margin-top: 15px;
    margin-bottom: 15px;
    
	width: 800px;
   	
	padding: 4px;

	border-width: 4px;
	border-color: #5E7789;
	border-style: solid;
}


#maintable {
    width: 100%;

	background-image: url(images/bgtile-left.png);
	background-repeat: repeat-y; 

}

#contentblock
{
	background: #FFFFFF;
	
	padding-top: 10px;
	padding-right: 6px;
	padding-bottom: 20px;
	padding-left: 10px;
	
	font-size: 12px;
	vertical-align: top;
    white-space: normal;
	text-align: left;

	background-image: url(images/bgtile-left.png);
	zzbackground-repeat: repeat-y;
}

#leftblocks {
	width: 180px;
	vertical-align: top;
	white-space: normal;

	background-color: #9FA9B0;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;

	background-image: url(images/bgtile-left.png);
	zzbackground-repeat: repeat-y;
}

#rightblocks
{
}

/*
====================================================================================
HEADER OPTIONS
====================================================================================
*/

.headertext {
}

#header {
    width: 100%;
	height: 150px;

	white-space: nowrap;
	background-color: #FFFFFF;
	text-align: left;

	background-image: url(images/logo.png);
	background-repeat: no-repeat;

	padding: 0px 0px 0px 0px;
}


.header-search-tab {
    vertical-align: middle;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	
	background-image: url(images/datestamp-tab.png);
	background-repeat: no-repeat;
    background-position: 0% 100%;

	height: 30px;
    width: 180px;
}


.sub-header {
    width: 100%;
}

.header-datestamp {
	padding-top: 10px;
	padding-bottom: 0px;
	padding-right: 10px;
	padding-left: 0px;
	
}

.header-datestamp-text {
	zzcolor: #3C4C57;
	color: #FFFFFF;
	font-size: 9px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	padding-left: 10px;
	padding-right: 0px;
}


.header-welcome-message {
	color: #FFFFFF;
	text-align: left;
	font-size: 9px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	padding-left: 10px;
}


.header-links {
	color: #FFFFFF;
	font-size: 11px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	text-align: left;

	padding-left: 10px;
}


.header-links a { 
    color: #FFFFFF; /* #3C4C57; */
    padding-left: 10px;
    padding-right: 5px;

	background-image: url(images/arrow-right-white.gif);
	background-repeat: no-repeat;
	background-position: 1px 3px;

}

.header-links a:hover {
    color: #FFCC00;
	background-image: url(images/arrow-right-yellow.gif);
	background-repeat: no-repeat;
	background-position: 1px 3px;
}


/*
====================================================================================
STORY OPTIONS
====================================================================================
*/

.normal {
	font-size: 11px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}
.normal-left {
	font-size: 11px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	text-align: left;
}
.normal-small {
	font-size: 9px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.normal-small-right {
	font-size: 9px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	text-align: right;
}


.story-block {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	
	background-color: #FFFFFF;
	
	border-left-color: #B7BCC0;
	border-top-color: #B7BCC0;
	border-right-color: #5E7789;
	border-bottom-color: #5E7789;
	
	border-style: solid;
	border-width: 1px;
	
	background-image: url(images/story-shade-bottom.gif);
	background-repeat: repeat-x;
	background-position: 0% 100%;
}

.story-options {
	color: #888888;
	font-size: 10px;
	font-family: "Lucida Grande", arial, sans-serif;
	text-align: right;
	white-space: nowrap;
	float: right;
}

.story-body {
	white-space: nowrap;
}

.story-text {
	color: #888888;
	font-size: 11px;
	font-family: "Lucida Grande", arial, sans-serif;
	margin-top: 5px;
	margin-left: 50px;
	white-space: normal;
}

.story-image {
	float: left;
}

.featured-story-title {
	color: #FFCC00;
	font-size: 18px;
	font-weight: bold;
	font-style: italic;
	font-family: "Georgia", "Lucida Grande", Helvetica, Arial, sans-serif;
	border-bottom-color: #B7BCC0;
    border-bottom-style: solid;
	border-bottom-width: 1px;
}

.story-title {
	color: #3C4C57;
	font-size: 18px;
	font-style: italic;
	zzfont-weight: bold;
	font-family: "Georgia", "Lucida Grande", Helvetica, Arial, sans-serif;
	border-bottom-color: #B7BCC0;
    border-bottom-style: solid;
	border-bottom-width: 1px;

}

.story-info {
	color: #666666;
	font-size: 9px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.storybyline {
	font-size: 11px;
	font-family: "Lucida Grande", arial, sans-serif;
}

.story-content {
	color: #666666;
	font-size: 11px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	line-height: 16px;
	padding-top: 15px;
	padding-bottom: 10px;
}

.story-content li {
    list-style-image: url(images/arrow-right-drkblue.gif);
    list-style-position: inside;
}

.story-footer {
	font-size: 10px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #999999;
	padding-left: 5px;
    padding-top: 5px;
	padding-bottom: 5px;

    border-top-style: solid;
    border-top-color: #B7BCC0;
    border-top-width: 1px;

	zzbackground-color: #E2E4E6;
}

.welcomeblock {
	color: #000000;
	font-size: 11px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:2px;
	padding-right:2px;
}

#whats-related {
    color: #FFFFFF
	font-size: 10px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	line-height: 18px;
	float: right;
	background-color: #768189;
	margin-top: 0px;
	margin-left: 10px;
	width: 170px;
	
}

#whats-related a {
    color: #FFFFFF;
}

#whats-related a:hover {
    color: #FFCC00;
}


#whats-related li {
    color: #FFFFFF;
    list-style-image: url(images/arrow-right-white.gif);
    list-style-position: inside;
}

/*
====================================================================================
BLOCK OPTIONS
====================================================================================
*/
.block {
	font-size: 9px;
	color: #3C4C57;
	
	padding-top: 0px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	
	background-image: url(images/bgtile-blocks.png);
	zzbackground-repeat: repeat-y;

}

.block a {}

.blocktitle
{
	font-size: 11px;
	font-weight: bold;
	zzcolor: #252F36;
	color: #FFFFFF;
	padding-bottom: 4px;
	padding-top: 8px;
	text-align: left;

	border-bottom-color: #FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	
	zzmargin-left: -10px;
    margin-right: -10px;
    margin-bottom: 5px;
}

.boption {
	font-size: 10px;
	font-weight: bold;

	padding-top: 8px;
	padding-bottom: 8px;
}

.boption:hover {
    zzbackground-color: #C2C6C9;
    
   	background-image: url(images/bgtile-blockhover.png);

	padding-left: 10px;
    margin-left: -10px;
	margin-right: -10px;
}

.boption:hover a {
}

.boption a {
	color: #3C4C57;
}

.boption-off {
    color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	
	zzbackground-color: #90999F;
	
	zzborder-color: #FFCC00;
	zzborder-style: solid;
	zzborder-top-width: 0px;
	zzborder-right-width: 0px;
	zzborder-bottom-width: 0px;
	zborder-left-width: 5px;


	background-image: url(images/bgtile-blockhoveroff.png);
	background-repeat: repeat-x; 

	vertical-align: middle;

    margin-left: -10px;
	margin-right: -10px;
}

.boption-plain {
	/* font-size: 10px; */
	line-height: 14px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.boption-plain select {
    width:120px;
}

/*
====================================================================================
COMMENT OPTIONS
====================================================================================
*/
#comment-header {
 	width: 100%;
}

#comment-section {
	width: 100%;
	

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	
	background-color: #D8DBDD;
	
	border-left-color: #B7BCC0;
	border-top-color: #B7BCC0;
	border-right-color: #5E7789;
	border-bottom-color: #5E7789;
	
	border-style: solid;
	border-width: 1px;
	
	background-image: url(images/comment-shade-top.gif);
	background-repeat: repeat-x;
	zzbackground-position: 0% 100%;

}

.comment-section-title-left {
	font-size: 11px;
	text-align: left;
	vertical-align: middle;
}

.comment-section-title-right {
	font-size: 10px;
	text-align: right;
	vertical-align: middle;
	padding: 5px;
}

.comment-section-options-left {
	text-align: left;
	zzbackground: #A7BFCF;
	padding: 5px;

	border-bottom-color: #718FA5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.comment-section-options-left select {
/* this is here to format the drop down lists for comment ordering */
	font-size: 9px;  /* The same size as 'normal-small' */
}

.comment-section-options-right
{
	text-align: center;
	background: #FFCC00;
	padding: 5px;
	width: 70px;

	border-bottom-color: #DDAA00;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}


.comment-section-disclaimer
{
	font-size: 9px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	border-bottom-color: #718FA5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.comment-section-comment
{
	width: 100%;
}


.commentbar1 {
/* This is hard coded into the login-create new user link in the comment header section - dammit */
}


/* =================================================================================================== */
/* I Think the following 'old' styles are now obsolete. this is here for temporary historical reasons */
/*
.commentbar3 {
	color: #888888;
	background-color: #EEEEEE;
	font-size: 10px;
	font-family: "Lucida Grande", arial, sans-serif;
}
.commentbar4 {
	color: #000000;
	font-size: 11px;
	font-family: "Lucida Grande", arial, sans-serif;
	background-color: #EEEEEE;
}
*/
/* =================================================================================================== */

.comment-title {
	font-size: 12px;
	color: #3C4C57;
	font-weight: bold;
	background-color: #FFEB9C;
	padding: 5px;
}

.comment-info {
	font-size: 9px;
	text-align: left;
	padding: 5px;
	border-bottom-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.comment {
    padding: 5px;
	background-color: #FFFFFF;
	
	border-left-color: #5E7789;
	border-top-color: #5E7789;
	border-right-color: #B7BCC0;
	border-bottom-color: #B7BCC0;
	
	border-style: solid;
	border-width: 1px;
}

.comment-text {
	font-size: 10px;
	color: #666666;
	text-align: left;
	padding: 5px;
	vertical-align: top;
}


.comment-options {
	font-size: 9px;
	font-weight: bold;
	text-align: right;
	padding-left: 10px;
	border-top-color: #CCCCCC;
	border-top-style: solid;
	border-top-width: 1px;
}

.comment-thread {
	font-size: 10px;
	text-align: left;
	padding-bottom: 20px;
}

.comment-thread li {
    list-style-image: url(images/arrow-right-drkblue.gif);
}

.comment-thread-date {
	font-size: 9px;
	text-align: left;
}



/*
====================================================================================
FOOTER OPTIONS
====================================================================================
*/
#prefooter {
	width: 100%;
	height: 30px;
	background-image: url(images/bgtile-left.png);
}

.prefooter-left {
	width: 180px;
	zzbackground-image: url(images/datestamp-tab-bottom.png);
	zzbackground-repeat: no-repeat;
}

.prefooter-right {
	color: #3C4C57;
	font-size: 10px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	text-align: left;
	vertical-align: middle;

    border-top-color: #3C4C57 ;
    border-top-style: solid;
    border-top-width: 1px;

	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 8px;

	white-space: nowrap;
}


#footerblock {
	width: 100%;
	background-image: url(images/bgtile-left.png);
}

.footer-left {
	width: 180px;
}

.footer-right {
	font-size: 9px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	text-align: left;
	line-height: 14px;

	padding-top: 10px;
	padding-left: 8px;
	padding-right: 0px;
	padding-bottom: 10px;

	vertical-align: top;
	white-space: nowrap;
}


.footer {
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #999999;
	vertical-align: top;
}

.footer {
font-size: 11px;
font-family: "Lucida Grande", arial, sans-serif;
}



/*
====================================================================================
CALENDAR OPTIONS
====================================================================================
*/

.cal_day {
	font-size: 11px;
}

.cal_body {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	border-style: none none none none;
}

.cal-nullday {
	background-color: #FFFFFF;
	border-style: solid solid none none;
	border-color: #BBBBBB #BBBBBB #BBBBBB #BBBBBB;
}

.cal-oldday {
	font-size:9px;
	background-color: #EEEEEE;
	border-style: solid solid none none;
	border-color: #BBBBBB #BBBBBB #BBBBBB #BBBBBB;
}

.cal-futureday {
	font-size:9px;
	background-color: #FFFFFF;
	border-style: solid solid none none;
	border-color: #BBBBBB #BBBBBB #BBBBBB #BBBBBB;
}

.cal_month {
	font-size: 9px;
	background-color: #EEEEEE;
	border-style: solid solid solid solid;
	border-color: #BBBBBB #BBBBBB #BBBBBB #BBBBBB;
}

.cal-today {
	font-size:9px;
	background-color: #DCE2E7;
	color: #ffffff;
	border-style: solid solid solid solid;
	border-width: 2px 2px 2px 2px;
	border-color: #3C4C57 #3C4C57 #3C4C57 #3C4C57;
}
.cal-today a {
}
.cal-today a:hover {
}


.cal-event {
font-size: 6px;
}

.weekview_caltitle {
background-color: #dddddd;
font-weight: bold;
font-size: 13px;
color: #000000;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 5px;
}

.weekview-curday {
background-color: #FFCC00;
color: #000000;
}

.weekview-offday {
color: #000000;
}

.weekview_dayformat {
font-size: 11px;
background-color: #eeeeee;
color: #000000;
padding-left: 5px;
padding-top: 5px;
}

.weekview_addevent {
font-size: 11px;
background-color: #eeeeee;
color: #000000;
padding-top: 5px;
padding-right: 5px;
}

.weekview_daterange {
font-size: 16px;
font-weight: normal;
color: #000000;
}


.dayview_times {
font-size: 14px;
color: #000000;
}

.dayview_datecol {
font-weight: normal;
font-size: 16px;
color: #000000;
padding-left: 5px;
padding-top: 5px;
}

.dayview_quickaddtitle {
font-weight: bold;
background-color: #CCCCCC;
font-size: 13px;
color: #000000;
}

.searchAuth { 
    font-weight: normal; 
    font-size: 80%; 
    font-family: sans-serif; 
    text-align: left;  
    color:#5E7789;
}
.searchDate { 
    font-weight: normal; 
    font-size: 80%; 
    font-family: sans-serif; 
    text-align: right;  
    color:#5E7789;
}
.searchHits { 
    font-weight: normal; 
    font-size: 80%; 
    font-family: sans-serif; 
    text-align: right; 
    color:#5E7789;
}
.highlight { 
    background-color: yellow; 
    text-decoration: none; 
} 




/*
====================================================================================
GALLERY OPTIONS (Untested on axonz.com)
Original code, thanks to:  Squatty (http://www.squatty.com/)
====================================================================================
*/


/*  Text Styles  */

.title { /* album titles on main page */
	color: #999999;
	font-size: 11px;
	width: 65%;
	padding-top: 1px;
	padding-bottom: 2px;
	padding-left: 10px;
}

.mod_title { /* album title -- Text is controlled by .title */
	border:1px solid #000000;
	border-right-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
}

.mod_title_bg { /* album title hightlight Text is controled by .title */
}

.mod_title_right { /* album title hightlight Text is controled by .title*/
}

.mod_title_left { /* album title hightlight Text is controled by .title */
}

.albumdesc { /*album description includes all text and background*/
}

.desc { /* album descriptions on main page */
	font-size: 10px; 
}

.caption { /* photo captions on all pages */
	font-size: 10px; 
}

.modcaption { /* modifies background for caption text to reside */
	font-size: 10px; 
}

.error { /* all error text */
	color: red; 
	font-size: 10px; 
}

.attention { /* so far, just for voting instructions*/
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: normal;
	color: red;
	font-size: 10px;
}

.headbox { /* box around the page headers */
}

.head { /* page headers */
	font-size: 12px;
/*	font-weight: bold; */

}

.mod_headliner { /* Gallery & Album titles. Text is controled by .head */
}

.mod_toplight_bg { /* Gallery & Album titles. Text is controled by .head */
}

.mod_toplight_right { /* Gallery & Album titles. Text is controled by .head*/
}

.mod_toplight_left { /* Gallery & Album titles. Text is controled by .head */
}

.bread { /* used in breadcrumb bars */
	font-size: 10px; 
}

.nav { /* used in navigation bars */
	font-size: 10px; 
}

.navtableborderbegin { 
	border:1px solid #000000;
}

.navtableborderend { 
	border:1px solid #000000;
	border-top-width:0px;
}

.bordertop { 
	border:1px solid #000000;
	border-right-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
}

.borderright { 
	border:1px solid #000000;
	border-top-width:0px;
	border-bottom-width:0px;
	border-left-width:0px;
}

.borderleft { 
	border:1px solid #000000;
	border-top-width:0px;
	border-bottom-width:0px;
	border-right-width:0px;
}

.fineprint { /* used for fine print */
	font-size: 10px;
}

.popuphead { 
	font-size: 14px;
	font-weight: bold
}

.popup { 
	font-size: 10px;
}

.editlink { /* Used for the [edit] tags */
	font-size: 10px;
}

.modnavbox { /* main navigation bar next and previous */
}

.admin { /* used in admin bars */
	font-size: 10px; 
	font-weight: bold; 
}

.search { /* used in search text */
	font-size: 10px; 
	font-weight: bold; 
}

.leftspacer { /* amount of space to the left of the header and titles */
	width: 0px;
}

.modnavboxtop { /*navagation bar top of screen where admin buttons show*/
}

.modnavboxmid { /*navagation bar middle where the link for the albums show*/
}

.modfooter { /*footer where the Gallery version is located*/
}


/*
====================================================================================
POLL BOOTH
====================================================================================
*/

.poll-item {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}




/*
====================================================================================
LINKS PAGE
====================================================================================
*/

.links-catagories-title {
	font-size: 12px;
	font-weight: bold;

    padding-bottom: 5px;
}

.links-catagories {
	font-size: 12px;
	font-weight: normal;

	border-bottom-color: #5E7789;
	border-bottom-style: solid;
	border-bottom-width: 1px;

	width: 100%;
    
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.links-catagories a {
	font-weight: normal;
    padding-bottom: 5px;
}

.links ul {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.links ul li {
    padding-bottom: 5px;
    margin-bottom: 15px;

	border-bottom-color: #5E7789;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}



/*
====================================================================================
STATS PAGE
====================================================================================
*/

.stat-column-heading {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #3C4C57;

}




/*
====================================================================================
DOWNLOADS - FILEMANAGEMENT PLUGIN
====================================================================================
*/

.filemgmtbg1 { /* obsolete */}
.filemgmtbg2{ /* obsolete */ }
.filemgmtbg4{ /* obsolete */ }
.filemgmtbg5{ /* obsolete */ }


.fm-maintable {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.fm-category-item {
	font-size: 12px;
	font-weight: bold;
    height: 20px;

	/*
	border-top-color: #5E7789;
	border-top-style: solid;
	border-top-width: 1px;

	border-right-color: #5E7789;
	border-right-style: solid;
	border-right-width: 1px;

	border-bottom-color: #5E7789;
	border-bottom-style: solid;
	border-bottom-width: 1px;

	border-left-color: #5E7789;
	border-left-style: solid;
	border-left-width: 1px;
    */
    
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.fm-category-item:hover {
    background-color: #A7BFCF;
    color: #FFFFFF
}
.fm-category-item:hover a {
    color: #FFFFFF
}


.fm-category-subitem {
	font-size: 10px;
	font-weight: bold;
    
    /*
	border-top-color: #5E7789;
	border-top-style: solid;
	border-top-width: 1px;

	border-right-color: #5E7789;
	border-right-style: solid;
	border-right-width: 1px;

	border-bottom-color: #5E7789;
	border-bottom-style: solid;
	border-bottom-width: 1px;

	border-left-color: #5E7789;
	border-left-style: solid;
	border-left-width: 2px;
    */
    
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.fm-category-subitem:hover {
    background-color: #A7BFCF;
    color: #FFFFFF
}
.fm-category-subitem:hover a {
    color: #FFFFFF
}


.fm-download { /* table surounding each download */
}


.fm-dl-category {
    height: 20px;
    border-bottom-width: 1px;
    border-bottom-color: #3C4C57;
    border-bottom-style: solid;
}

.fm-dl-submittedby {
    font-size: 9px;
    height: 20px;
    text-align: right;
    border-bottom-width: 1px;
    border-bottom-color: #3C4C57;
    border-bottom-style: solid;
}


.fm-dl-title {
    font-size: 13px;
    padding: 5px 0px 5px 0px;
}


.fm-dl-description {
    font-size: 10px;
    line-height: 14px;
    border-bottom-width: 1px;
    border-bottom-color: #3C4C57;
    border-bottom-style: solid;
    padding: 0px 0px 10px 23px;
}


.fm-dl-screenshot {
    height: 20px;
    zzborder-bottom-width: 1px;
    zzborder-bottom-color: #3C4C57;
    zzborder-bottom-style: solid;
    padding: 5px 0px 5px 23px;
}


.fm-dl-details {
    background-color: #DCE2E7;
    font-size: 9px;
    zzborder-bottom-width: 1px;
    zzborder-bottom-color: #3C4C57;
    zzborder-bottom-style: solid;
    text-align: right;
    padding: 5px 10px 5px 0px;

}

.fm-dl-options {
    font-size: 9px;
    text-align: right;
    height: 20px;
    padding: 0px 0px 0px 23px;
}


/*
====================================================================================
MYCAL - MINI BLOCK CALENDAR
====================================================================================
*/

.mycalTopTitle { background-color:#4682B4 }
.mycalTitle { background-color:#B0C4DE }
.mycalDateField { background-color:#F9F9F9 }
.mycalEventHighlight { background-color:#8FBC8F }
.mycalTodayHighlight { background-color:#EEDD82 }
.mycalNextMonth { background-color:#DCDCDC }



/*
====================================================================================
UNFILED STYLES
====================================================================================
*/

.warning {
	color: red;
	font-size: 12px;
	font-weight: bold;
	font-family: "Lucida Grande", arial, sans-serif;
}

.warningsmall {
	color: red;
	font-size: 11px;
	font-family: "Lucida Grande", arial, sans-serif;
}





/*
====================================================================================
THE END - YAY! Comments Rock!
====================================================================================
*/
