{% extends "index.html" %}

{% block content %}

    <div class="">
        <h2>Andy Boot</h2>
        <p>
          I am a developer living in London. I mostly do Python &amp; Rust.
        </p>
        <p>
            This is my space on the web
        </p>
    </div>

        <div class="links">
	    <h2>
		    Tech accounts
	    </h2>
		<a href="http://www.github.com/bootandy">
		  <i class="fab fa-github"></i>
		</a>
		<a href="https://stackoverflow.com/users/95396/andy-boot">
		  <i class="fab fa-stack-overflow"></i>
		</a>
		<a href="http://www.linkedin.com/in/bootandy">
		  <i class="fab fa-linkedin"></i>
		</a>
        </div>
        <div class="links">
	    <h2>
             	Personal photos
	    </h2>
	    <a href="https://www.flickr.com/people/78434569@N00/">
	 	<i class="fas fa-camera-retro"></i>
	    </a>
        </div>
{% endblock content %}

