{% extends "index.html" %}

{% block extra_head %}
	<link rel="stylesheet" href="{{ get_url(path="projects2.css", trailing_slash=false) }}">
{% endblock extra_head %}

{% block content %}

           <div id="main-content">

                <article>
                  <div class="client-testimonials">
                    <h2 id="web" class="sideH2">Old Code Notes</h2><div class="separator"></div>
                  </div>


                <section class="blog-summary">
                    <a href='http://bootandy-linux.blogspot.co.uk/' class='blog-icon-ab'>
                        <article class="service-range span3">
                            <h5> Linux </h5>
                            <div class="separator"></div>
                            <div class="intro">
                              <span>Ubuntu and Linux discoveries</span>
                            </div>
                        </article>
                        <article class="blog_notes">
                            <h3>
                                Notes on Ubuntu and Linux. Handy Linux shortcuts and configuring left handed mice.
                            </h3>
                        </article>
                    </a>
                </section>

                <section class="blog-summary">
                    <a href='http://bootandy-web.blogspot.co.uk/' class='blog-icon-ab'>
                        <article class="service-range span3">

                            <h5>Web dev </h5>
                            <div class="separator"></div>
                            <div class="intro">
                              <span>HTML, JavaScript &amp; CSS </span>
                            </div>
                        </article>
                        <article class="blog_notes">
                            <h3>
                                All things related to front end web development
                            </h3>
                        </article>
                    </a>
                </section>

                <section class="blog-summary">
                    <a href='http://bootandy-android.blogspot.co.uk/' class='blog-icon-ab'>
                        <article class="service-range span3">
                            <h5>Android </h5>
                            <div class="separator"></div>
                            <div class="intro">
                              <span>Android Java</span>
                            </div>
                        </article>
                        <article class="blog_notes">
                            <h3>
                                Learning how to code Android apps
                            </h3>
                        </article>
                    </a>
                </section>


                <section class="blog-summary">
                    <a href='http://bootandy-java.blogspot.co.uk/' class='blog-icon-ab'>
                        <article class="service-range span3">
                            <h5> Java </h5>
                            <div class="separator"></div>
                            <div class="intro">
                              <span>notes from my Java days</span>
                            </div>
                        </article>
                        <article class="blog_notes">
                            <h3>
                                Java gotchas and code snippits from my time working as a Java programmer
                            </h3>
                        </article>
                    </a>
                </section>

                <section class="blog-summary">
                    <a href='http://bootandy-scala.blogspot.co.uk/' class='blog-icon-ab'>
                        <article class="service-range span3">
                            <h5>Scala </h5>
                            <div class="separator"></div>
                            <div class="intro">
                              <span>notes from my Scala days</span>
                            </div>

                        </article>
                        <article class="blog_notes">
                            <h3>
                                My dabblings with Scala.
                            </h3>
                        </article>
                    </a>
                </section>

                <section class="blog-summary">
                    <a href='http://bootandy-iphone.blogspot.co.uk/' class='blog-icon-ab'>
                        <article class="service-range span3">
                            <h5>iPhone </h5>
                            <div class="separator"></div>
                            <div class="intro">
                              <span>Objective C</span>
                            </div>
                        </article>
                        <article class="blog_notes">
                            <h3>
                                The weird and wacky world of Objective C
                            </h3>
                        </article>
                    </a>
                </section>
</article>
</div>

{% endblock content %}
